# Node.js
yacht-backend/node_modules/
yacht-backend/uploads/images
yacht-backend/.env

# Angular
yacht-frontend/node_modules/
yacht-frontend/dist/

# MacOS and Windows files (optional but recommended)
.DS_Store
Thumbs.db
