<div class="container">
  <div class="image-section">
    <img src="assets/img/default/yacht_modern2.webp" alt="Yacht moderne" class="yacht-image">
  </div>
  <div class="form-section">
    <h2>Créer un compte</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label for="name">Nom complet</label>
        <input
          class="input-field"
          type="text"
          id="name"
          name="name"
          [(ngModel)]="user.name"
          placeholder="Entrez votre nom complet"
          required
        >
      </div>
      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input
          class="input-field"
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Entrez votre adresse e-mail"
          required
        >
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          class="input-field"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          placeholder="Entrez votre mot de passe"
          required
        >
      </div>
      <div class="form-group">
        <label for="role">Rôle</label>
        <select
          id="role"
          name="role"
          class="input-field"
          [(ngModel)]="user.role"
          required
        >
          <option value="client">Client</option>
          <option value="owner">Propriétaire</option>
        </select>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input
          type="file"
          id="image"
          name="image"
          class="input-field"
          (change)="onFileSelected($event)"
          required
        />
      </div>
      <div class="form-group">
        <label class="checkbox-label">
          <input
            type="checkbox"
            name="terms"
            [(ngModel)]="acceptedTerms"
            required
          >
          J'accepte les termes et conditions
        </label>
      </div>
      <button type="submit" class="btn" [disabled]="!userForm.valid">Créer un compte</button>
    </form>
    <div class="register-link">
      <p>Vous avez déjà un compte ? <a (click)="goToRegister()">Se connecter</a></p>
    </div>
  </div>
</div>
