<app-header></app-header>
<div class="yacht-container">
  <h1 class="title">
    {{ role === 'owner' ? 'Mes yachts' : 'Yachts disponibles' }}
  </h1>

  @if (yachts.length == 0) {
    <div class="empty-message">
      @if (role === 'owner') {
        <p>Vous n'avez encore ajouté aucun yacht.</p>
      }
      @if (role !== 'owner') {
        <p>Aucun yacht disponible pour le moment.</p>
      }
    </div>
  }

  <div class="yacht-list">
    @for (yacht of yachts; track yacht) {
      <div class="yacht-card"
        (click)="goToBooking(yacht)"
        [class.clickable]="role !== 'owner'">
        @if (role === 'owner' && yacht.averageRating) {
          <span>
            <div class="rating-container"
              (click)="showReviews(yacht)">
              @for (star of [1,2,3,4,5]; track star) {
                <span class="star"
                [class.filled]="star <= yacht.averageRating">★</span>
              }
            </div>
          </span>
        }
        @if (role != 'owner' && yacht.averageRating) {
          <span>
            <div class="rating-container"
              (mouseenter)="showReviews(yacht)">
              @for (star of [1,2,3,4,5]; track star) {
                <span class="star"
                [class.filled]="star <= yacht.averageRating">★</span>
              }
            </div>
          </span>
        }
        @if (role === 'owner' && !yacht.isValidatedByAdmin) {
          <div class="verification-status">
            ⏳ En attente
          </div>
        }
        @if (role === 'owner' && yacht.isValidatedByAdmin) {
          <div class="icon-container"
            (click)="togglePublicStatus(yacht); $event.stopPropagation()"
            [title]="yacht.isPublic ? 'Rendre Privé' : 'Rendre Public'">
            <i [ngClass]="yacht.isPublic ? 'icon-public' : 'icon-private'"></i>
          </div>
        }
        <div class="image-container">
          <img [src]="getUrl(yacht.images[currentImageIndex[yacht._id]]) || 'assets/img/default-yacht.jpg'"
            alt="{{ yacht.name }}"
            class="yacht-image"
            (mouseenter)="pauseAutoSlide(yacht._id)"
            (mouseleave)="resumeAutoSlide(yacht._id)"/>
            <button class="next-btn" (click)="nextImage(yacht, $event)">&#10095;</button>
          </div>
          <div class="yacht-info">
            <h3 class="yacht-title">{{ yacht.name }}</h3>
            <div class="description">
              @if (!expandedDescriptions[yacht._id]) {
                <span>
                  {{ yacht.description.length > 100 ? (yacht.description | slice:0:100) + '...' : yacht.description }}
                </span>
              }
              @if (expandedDescriptions[yacht._id]) {
                <span>
                  {{ yacht.description }}
                </span>
              }
              <span class="toggle-description" (click)="toggleDescription(yacht._id, $event)">
                {{ expandedDescriptions[yacht._id] ? 'Afficher moins' : yacht.description.length > 100 ? 'Afficher plus' :'' }}
              </span>
            </div>
            <div class="yacht-meta">
              <span class="price">{{ yacht.pricePerDay  }} Dt/Jour</span>
              <span class="capacity">👥 {{ yacht.capacity }}</span>
            </div>
          </div>
          <div class="actions" >
            @if (role === 'owner') {
              <button class="btn edit" (click)="editYacht(yacht); $event.stopPropagation()">Modifier</button>
            }
            <button class="btn location" (click)="openLocationModal(yacht); $event.stopPropagation()">Consulter la Position</button>
            @if (role === 'owner') {
              <button class="btn delete" (click)="deleteYacht(yacht._id); $event.stopPropagation()">Supprimer</button>
            }
          </div>
        </div>
      }
    </div>
  </div>
  @if (isMapModalOpen) {
    <div class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeMapModal()">&times;</span>
        <h3>Position du Yacht</h3>
        <google-map
          height="400px" width="100%"
          [center]="center"
          [zoom]="zoom"
          >
          <map-marker
            #marker
            [position]="center"
            [options]="{draggable: true}"
            >
          </map-marker>
        </google-map>
      </div>
    </div>
  }
