<app-header></app-header>

<div class="payment-container">
  <h1 class="page-title">Historique des paiements </h1>

  <div class="stats-container">
    <div class="stat-card">
      <h3>Total Paiements</h3>
      <p>{{ totalPayments }}</p>
    </div>
    <div class="stat-card success">
      <h3>Paiements réussis</h3>
      <p>{{ paidPercentage }}%</p>
    </div>
    <div class="stat-card failed">
      <h3>Paiements échoués</h3>
      <p>{{ failedPercentage }}%</p>
    </div>
    <div class="stat-card total-paid">
      <h3>Montant total payé </h3>
      <p>{{ totalAmountPaid  }}DT</p>
    </div>
  </div>

  <div class="chart-container">
    <canvas id="paymentChart"></canvas>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Réservation</th>
          <th>Montant</th>
          <th>Date</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        @for (payment of payments; track payment; let i = $index) {
          <tr>
            <td class="yacht-cell">
              <div class="image-container">
                <img
                  [src]="getUrl(payment.booking.yacht.images[currentImageIndex[payment.booking._id]]) || 'assets/default-yacht.jpg'"
                  class="yacht-image"
                  />
                </div>
              </td>
              <td>{{ payment.booking.yacht.name }}</td>
              <td>{{ payment.totalPrice  }}Dt</td>
              <td>{{ payment.createdAt | date: 'yyyy/MM/dd HH:mm' }}</td>
              <td>
                <span class="status-label" [ngClass]="getStatusClass(payment.status)">
                  {{ getStatusText(payment.status) }}
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
