<div class="app-container">
  @if (showSidebar) {
    <header class="app-header">
    </header>


  }
  <main class="app-main">
    @if (showSidebar) {
      <div class="dashboard-layout">
        <app-sidebar></app-sidebar>
        <div  class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    } @else {
      <router-outlet></router-outlet>
    }
  </main>
  @if (showSidebar) {
    <footer class="app-footer">
      <!-- Footer Content -->
    </footer>
  }
</div>
